body {
  background-color: #000;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Layout */
/* minmax on the nav is used for expansion on mobile */
/* minmax on the main is used for long main content */
.grid {
  display: grid;
  grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) 10vh;
  grid-template-areas: 'nav' 'main' 'footer';
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* Nav  */
.nav-default {
  @apply px-3 py-2 rounded-md text-sm leading-5 font-medium  transition duration-150 ease-in-out;
}

.nav-default:focus {
  @apply shadow-outline text-blue-500 bg-black;
}

.nav-active {
  @apply text-blue-500 border-2 border-blue-500;
}

.nav-active:hover {
  @apply text-black bg-blue-500;
}

.nav-inactive {
  @apply text-white;
}

.nav-inactive:hover {
  @apply text-black bg-blue-500;
}

/* Home  */
.headline {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .headline {
    font-size: 5rem;
  }
}

/* About  */
.content-grid {
  display: grid;
  grid-template-columns: 15vw auto 15vw;
  grid-template-rows: 10vh minmax(80vh, auto) 10vh;
  grid-template-areas: '. . .' '. content .' '. . .';
}

.content {
  grid-area: content;
}

/* Spinner  */
